body {
    font-family: 'Poppins';
    margin: auto;
}

.homescreen {
    margin-top: 3%;
}

.do {
    background: linear-gradient(to right, rgb(8, 241, 183) 0%, #00021b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}


/* .carousel {
            background: #bad0e6;
            margin-top: 20px;
        } */

.carousel-item {
    text-align: center;
    min-height: 250px;
    /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.bs-example {
    margin: 50px;
}

.justify {
    margin-top: 3%;
    margin-bottom: 3%;
}

.justify p {
    text-align: center;
}

.justify h2 {
    text-align: center;
}

.marauto {
    margin: auto;
}

.customerdiv {
    background-color: rgb(221, 243, 226);
    height: 380px;
}

.btn {
    background-color: #469353;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 2%;
}

.btn:hover {
    background-color: #2e743a;
}

.footer {
    height: 250px;
    width: 100%;
    background: rgb(39, 48, 41);
    color: white;
    position: absolute;
    margin: 0px;
}

hr.new2 {
    border: 1px solid rgb(235, 125, 125);
    width: 100%;
    float: left;
    margin-top: -10px;
}

@media only screen and (max-width: 800px) {
    .homescreen {
        margin-top: 12%;
    }
    .footer {
        height: 315px;
        width: 103%;
        background: rgb(24, 37, 28);
        color: white;
        position: absolute;
        margin: 0px;
    }
    .mobile {
        margin-left: 5%;
    }
    .mobile2 {
        margin-left: 2%;
    }
}