body {
    font-family: 'Poppins';
}

#do {
    background: linear-gradient(to right, rgb(8, 241, 183) 0%, #020853 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.do {
    background: linear-gradient(to right, rgb(8, 241, 183) 0%, #00021b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.zoom {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s;
    /* width: 200px;
    height: 200px; */
    margin-right: 2%;
    margin-bottom: 4%;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.05);
}

.cardbtn {
    margin-top: -70px;
    margin-left: 50px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

.centerclr {
    height: 550px;
    width: 100%;
    background: #F5FFF7;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 270px;
}

.education {
    height: 70%;
    width: 70%;
    background: rgb(236, 252, 239);
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
}

.education h1 {
    margin-top: 5%;
}

.edubutton {
    margin-bottom: 3%;
    margin-right: 3%;
    background-color: #1E3465;
    height: 60px;
}

.edubtn {
    margin-top: 5%;
}

.books {
    /* margin-left: 44%; */
    margin-top: -290px;
}

.book2 {
    margin-top: -200px;
}

.card p {
    text-align: center;
}

.footer {
    height: 200px;
    width: 100%;
    background: #09110B;
    color: white;
    position: absolute;
    margin-top: 5%;
}

hr.new2 {
    border: 1px solid rgb(235, 125, 125);
    width: 100%;
    float: left;
    margin-top: -10px;
}

@media only screen and (max-width: 800px) {
    .homescreen {
        margin-top: 12%;
    }
    .footer {
        height: 315px;
        width: 103%;
        background: rgb(24, 37, 28);
        color: white;
        position: absolute;
        margin: 0px;
    }
    .mobile {
        margin-left: 5%;
    }
    .mobile2 {
        margin-left: 2%;
    }
    .mobile3 {
        margin-left: 10%;
    }
    .education {
        height: 100%;
        width: 70%;
        background: rgb(236, 252, 239);
        margin-top: -200px;
        margin-left: auto;
        margin-right: auto;
    }
    .edubtn {
        margin-top: 1%;
    }
    .books {
        /* margin-left: 44%; */
        margin-top: -120px;
    }
    .book2 {
        margin-top: -20px;
    }
}